html,
body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
}
#berry {
    flex: 1 0 auto;
    padding: 20px;
    padding-bottom: 12em;
    background: no-repeat center/cover fixed url(../images/berry.jpg);
    height: 300px;
}
#mountain {
    flex: 1 0 auto;
    padding: 20px;
    padding-bottom: 12em;
    background: no-repeat center/cover fixed url(../images/mountain.jpg);
        height: 300px;

}
#tree {
    flex: 1 0 auto;
    padding: 20px;
    padding-bottom: 12em;
    background: no-repeat center/cover fixed url(../images/tree.jpg);
        height: 300px;

}
.snippet {
    padding: 100px 25px 100px 25px;
    background-color: #fff;
}
.imageHeader h2{
    color: #fff;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    padding-top: 150px;
    line-height: 2rem;
        font-family: sans-serif;

}
.s {
    font: 1rem 'Raleway', sans-serif;
    line-height: 1.4rem;
    color: #013655;
    height: 160px;
}
